@charset "UTF-8";
/* CSS Document */


/*basic reset*/
/*browsers have built in values for elements so we'll reset a few things to zero, you can add to this or remove items as needed*/

/* need ul and ol for gallery filter! */

div,p,body,header,footer,section,article,nav, ul, ol, h3 
{ 
	margin: 0; 
	padding: 0; 
}	

img 
{ 
	border: none; /*Remove border if image is a link*/
	margin: 0; 
	padding: 0; 
}

/*html selectors*/

body 
{	
	font-family: 'Barlow Condensed', sans-serif;
	font-family: 'Poppins', sans-serif;
	font-size: 12px;
	color: #333;
}

/*a:link is for not visited(standard unclicked link), 
a:visited is for visited, and just a applies to both.*/
/*a will also style anchor links*/

a:link, a:visited
{ 
	color: #9b9b9b; /* This changes the links to gray */ 	
	text-decoration: none; 	
}

a:hover, a:active
{ 
	text-decoration: none; 
	color: #d3356a; /* Magenta color change color on hover */
	cursor: pointer;
}

/*hide elements from browser but show for doc outline*/

.hidden
{
	display: none;
}

.subBut
{
	height: 35px;
	width: 75px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #1c8ab6;
	color: #fff;
	border: none;
}

#subBut:hover
{
	cursor: pointer;
}

/*Site Container*/
/*We center the box using margin 0 auto and give it a fixed width of 920 + 20px + 20px 
(960px) so it fits on 1024x768 screens.*/

#siteContainer 
{
	margin: 0 auto;
	width: 960px;
	padding-left: 20px;
	padding-right: 20px;
}

/* This the yellow bulb on the top of the logo */
#yellowBulb
{
	top: 0px;
}

/*This is a flex container*/
/*Add padding to prevent shifting + resize logo*/

#mainHeader
{
	display: flex;
	flex-direction: row;
  	justify-content: flex-start;
  	margin-top: 40px;
  	margin-bottom: 50px;

}

/*This is a flex item*/

#logoStatic
{
	position: absolute;
	background: white url("../images/logo_static.svg") no-repeat;
    margin-top: 40px;
    height: 61px;
    width: 318px;
}

#logoStatic:hover
{
	opacity: 0;
}

#logoHover img
{
	margin-top: 40px;
	width: 311px;
}

/*This is also a flex item*/
/*We use margin left auto to send it all the way to the right*/
#mainNav 
{
	margin-left: auto;
	width: 524px;
	margin-top: 56px;
}


/* Horizontal navigation titles and spacing the nav titles */
#mainNav ul
{
	list-style-type: none;
	padding: 0;

}


/* Horizontal navigation titles and spacing the nav titles */
#mainNav ul li
{
	letter-spacing: .071em;
	font-size: 16px;
	display: inline;
	margin-left: 30px;
}

/* hover navigation titles with line-through */

#mainNav ul li a:hover
{

	text-decoration: line-through;
	color: #d3356a;
}  

/***** Homepage *****/

#promo 
{
	display: flex;
	flex-direction: row;
  	justify-content: flex-start;
}

/* video section */

#promoVideo
{
	margin-left: auto;
	width: 960px;
	height: 540px;
	border: none;
	background: transparent;
	overflow: hidden;
}

/* TOPS & BOTTOMS section start */

#productCon 
{
	display: flex;
	flex-direction: row;
  	justify-content: space-between;
  	vertical-align: top;
	padding-top: 50px;
}


/* TOPS & BOTTOMS Titles */

/* comment this out with inspect element?*/

#productCon h3
{

	font-family: 'Barlow Condensed', sans-serif;
	font-size: 60px;
	color: #9b9b9b;
	width: 439px;
	margin-bottom: 20px;
}

.productCol
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
/* add hover for tops images */

.topsImage
{
	position: relative;
}

.productStatic
{
	position: absolute;
}

.productStatic:hover
{
	opacity: 0;
	position: absolute;
}

/* bottoms hover */
.bottomsImage
{
	position: relative;

}

/***** Gallery Page *****/

#galleryFilterContainer
{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background-color: #f0f0f0;
	padding: 0px 0px 20px 30px;
}

#galleryFilterContainer h2
{
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 50px;
	font-weight: 600;
	color: #9b9b9b;
	margin-bottom: 40px
}

#galleryFilterContainer p
{
	font-family: 'Poppins', sans-serif;
	font-size: 17px;
	line-height: 26px;
	color: #333;
	width: 623px;
	margin-bottom: 30px;
}

#galleryFilter ul li
{
	list-style-type: none;
	display: inline;
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
}

.filterArrow
{
	margin-left: 20px;
	margin-right: 20px;
	cursor: pointer;
}

/* gallery grid start */

#galleryImages

{
	margin-bottom: 28px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 960px;
	height: 1340px;
}

.galleryRow
{

	margin-top: 48px;
	display: flex;
	flex-direction: row;
  	justify-content: space-between;
  	width: 960px;
  	height: 670px;
}

.galleryWrap /* makes img participate in flex layout */
{
	position: relative;
}

/* gallery grid end */

.galleryImgStatic
{
	position: relative;

}

.galleryImgStatic:hover 
{
	opacity: 0;
	position: relative;
}

.galleryImgRollover
{
	position: absolute;

}

.galleryImgStatic:hover 
{
	opacity: 0;
}

.galleryTextRow
{

	display: flex;
	flex-direction: row;
  	justify-content: space-between;
  	height: 210px;
}

.galleryText
{
	margin-top: 20px;
	margin-bottom: 20px;
	padding-bottom: 87px;
	border-bottom: 2px #1c8ab6 solid;
	text-align: left;
	width: 240px;
}

.galleryNew
{
	font-size: 15px;
	font-weight: bold;
	color: #9c9c9c;
}

.galleryPrice
{
	font-size: 20px;
	font-weight: bold;
	line-height: 40px;
	padding-bottom: 28px;
}

/***** Start of Contact Us section *****/

#mainContact{

	width: 920px;
	padding-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;

}

/* Contact Us Titles */

#mainContact h2{
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 60px;
	color: #2073a8;
	padding: 8px 0px 8px 5px;  /* trbl*/
	width: 920px;
	margin-bottom: 40px;
	color: #9b9b9b;
}

/* estbalishing the border in the middle */
#contactArea{

	width: 450px;
	margin-bottom: 30px;
	padding-left: 60px;
	margin-left: auto;
}

#contactText{
	font-weight: bold;
	font-size: 41px;
	margin-bottom: 30px;
	width: 473px;
}

input, textarea{

	display: block;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 300px;
	border: 1px solid #999;
	background-color: #efefef;
}

#comments{

	width: 360px;
	height: 200px;
}


/* Start of the Contact Form  */
.listCon{
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}


#listCat{
	font-size: 20px;
	list-style: none;

}


#listCat ul li{

	list-style: none;

}


/***** Footer Beginning *****/

#mainFooter 
{  	
	display: flex;
	flex-direction: row;
  	justify-content: flex-start;
  	height: 415px;
  	position: relative;
  	margin-top: 80px;
}

.footerNav
{

	font-family: 'Barlow Condensed', sans-serif;
	letter-spacing: 0.04em;
	font-size: 30px;
}


.footerNav li
{	
	list-style: none;
	color: #9b9b9b;
	list-style-type: none;
	line-height: 35px;
}

/* newsletter styling */
.newsLetter
{
	margin-left: auto;
	width: 408px;
}

/* Specific selector for the newsletter title */
.newsLetter h3 
{
	color:#d3356a;
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 600;
	font-size: 40px;
	padding-bottom: 28px;
}

/* point size for newsletter */
.newsletter h3, p
{
	font-size: 16px;
}

.newsLetter p
{
	line-height:25px;
}

/* styling the form */

input{

	display: block;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 388px;
	border: 1px solid #efefef;
	background-color: #efefef;
}

#copyRight
{
	width: 380px;
	height: 60px;
	margin-top: 70px;
	height: 20px;
}


#copyRight p
{	
	font-size: 12px;
}

/* Footer teal and magenta bulb */

#tealBulb
{
	
	position:absolute;
	right: 470px;
	bottom: 0px;
	z-index: -1;
}

