@charset "UTF-8";
/* CSS Document */


/*basic reset*/
/*browsers have built in values for elements so we'll reset a few things to zero, you can add to this or remove items as needed*/

/* need ul and ol for gallery filter */

div,p,body,header,footer,section,article,nav, ul, ol 
{ 
	margin: 0; 
	padding: 0; 
}	

img 
{ 
	border: none; /*Remove border if image is a link*/
	margin: 0; 
	padding: 0; 
}

/*html selectors*/

body 
{	
	font-family: 'Barlow Condensed', sans-serif;
	font-family: 'Poppins', sans-serif;
	font-size: 12px;
	color: #333;
}

/*a:link is for not visited(standard unclicked link), 
a:visited is for visited, and just a applies to both.*/
/*a will also style anchor links*/

a:link, a:visited
{ 
	color: #9b9b9b; /* This changes the links to gray */ 	
	text-decoration:none; 	
}

a:hover, a:active
{ 
	text-decoration: none; 
	color: #1c8ab6; /* Teal color change color on hover */
	cursor: pointer;
}

/*hide elements from browser but show for doc outline*/

.hidden
{
	display: none;
}

/*section is block level and no width specified therefore stretches full screen*/
/*#topBar
{	
	background-color: #000;
	height: 20px;
}
*/

/*Site Container*/
/*We center the box using margin 0 auto and give it a fixed width of 920 + 20px + 20px 
(960px) so it fits on 1024x768 screens.*/

#siteContainer 
{
	margin: 0 auto;
	width: 960px;
	padding-left: 20px;
	padding-right: 20px;
}

/* This the yellow bulb on the top of the logo */
#yellowBulb
{
	top: 0px;
}

/*This is a flex container*/
/*Add padding to prevent shifting + resize logo*/

#mainHeader
{
	display: flex;
	flex-direction: row;
  	justify-content: flex-start;
  	margin-top: 40px;
	padding-bottom: 10px;

}

/*This is a flex item*/

#logoStatic
{
	position: absolute;
	background: white url("../images/logo_static.svg") no-repeat;
    height: 32px;
    width: 167px;
}

#logoStatic:hover
{
	opacity: 0;
}

#logoHover img
{
	height: 32px;
	width: 167px;
}

/*This is also a flex item*/
/*We use margin left auto to send it all the way to the right*/
#mainNav 
{
	margin-left: auto;
	width: 524px;
	margin-top: 56px;
}


/* Horizontal navigation titles and spacing the nav titles */
#mainNav ul
{
	list-style-type: none;
	padding: 0;

}


/* Horizontal navigation titles and spacing the nav titles */
#mainNav ul li
{
	letter-spacing: .071em;
	font-size: 16px;
	display: inline;
	margin-left: 30px;
}

/* hover navigation titles with line-through */

#mainNav ul li a:hover
{

	text-decoration: line-through;
}  

/* Homepage */

#promo 
{
	margin-top: 40px;
	border-bottom: solid 1px #DDD;
	padding-bottom: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: flex-start;
  	background-color: tomato;
}

/* video section */

#promoVideo
{
	margin-left: auto;
	width: 960px;
	height: 450px;
}

/* TOPS & BOTTOMS section start */

#productInfo 
{
	display: flex;
	flex-direction: row;
  	justify-content: space-evenly;
	border-bottom: solid 1px #DDD;
	vertical-align: top;
	padding-bottom: 40px;
	margin-top: 40px;
}


/* TOPS & BOTTOMS Titles */

/* comment this out with inspect element?*/

#productInfo h2
{

	font-size: 30px;
	color: #9b9b9b;
	background-color: #ddeff7;
	width: 439px;
	margin-bottom: 40px;
}

/* Tops title */

#topsTitle
{
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 60px;
	font-weight: 600;
	color: #9b9b9b;
	width: 439px;
	margin-bottom: 10px
}

/* hover for tops images */

.topsImage
{
/*	margin-left: 32px;*/
	width: 439px;
	height: 566px;
	margin-top: 0px;
	margin-bottom: 0px;
}

/* hover */
/*.topsImage:hover{
	content: url('../images/home_page_tops_hover.jpg'); 
	width: 439px;
	height: 566px;
}
*/

#bottomsTitle
{
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 60px;
	font-weight: 600;
	color: #9b9b9b;
	width: 439px;
	margin-bottom: 10px;
}

/* hover for bottom images */

.bottomsImage
{
	/*margin-right: 32px;*/
	width: 439px;
	height: 566px;
	margin-top: 0px;
	margin-bottom: 0px;
}

/* hover */
/*.bottomsImage:hover{

	padding-top: 82px;
	content: url('../images/home_page_bottoms_hover.jpg'); 
	width: 439px;
	height: 566px;

}*/

/* Footer Beginning*/

#mainFooter 
{  	
	display: flex;
	flex-direction: row;
  	justify-content: flex-start;
  	height: 415px;
}

.footerNav
{

	font-family: 'Barlow Condensed', sans-serif;
	letter-spacing: 0.04em;
	margin-top: 11px; 
	margin-left: 61px; /* move over a little from the left*/
	font-size: 30px;
}


.footerNav li
{	
	text-decoration-style: none;
	color: #9b9b9b;
	list-style-type: none;
	line-height: 35px;
}

/* newsletter styling */
.newsLetter
{
	margin-right: 40px;
	margin-left: auto;
	width: 480px;
	height: 155px;
}

/* Specific selector for the newsletter title */
.newsLetter h3 
{
	color:#d3356a;
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 600;
	font-size: 40px;
	padding: 0;
}

/* point size for newsletter */
.newsletter h3, p
{
	font-size: 16px;
	padding: 0px;
}

.newsLetter p
{
	line-height:25px;
}

/* styling the form */
input{

	display: block;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 300px;
	border: 1px solid #efefef;
	background-color: #efefef;
}

.submit{
	height: 35px;
	width: 75px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #666;
	color: #fff;
	border: none;
}

#copyRight
{
	width: 380px;
	height: 60px;
	margin-top: 70px;
	height: 20px;
}


#copyRight p
{	
	font-size: 12px;
}

/* Footer teal and magenta bulb */

#tealBulb
{
	
	position:absolute;
	right: 388px;
	bottom: 0px;
	z-index: -1;
}

/*#contentCon{
	margin-top: 40px;
	border-bottom: solid 1px #DDD;
	padding-bottom: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: flex-start;
}

#contentCon p 
{
	line-height: 630px;
}*/

/* Gallery Page */

#galleryFilterContainer
{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background-color: #eff1fd;
	padding: 0px 0px 20px 30px;
}

#galleryFilterContainer h1
{
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 50px;
	font-weight: 600;
	color: #9b9b9b;
	margin-bottom: 40px
}

#galleryFilterContainer p
{
	font-family: 'Poppins', sans-serif;
	font-size: 17px;
	line-height: 26px;
	color: #333;
	width: 623px;
	margin-bottom: 30px;
}

#galleryFilter ul li
{
	list-style-type: none;
	display: inline;
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
}

.filterArrow
{
	margin-left: 20px;
	margin-right: 20px;
	cursor: pointer;
}

/* gallery grid start */

#galleryImages

{
	margin-bottom: 28px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 960px;
	height: 1340px;
}

.galleryRow
{

	margin-top: 28px;
	display: flex;
	flex-direction: row;
  	justify-content: space-between;
  	width: 960px;
  	height: 670px;
}

.galleryWrap /* makes img participate in flex layout */
{
	position: relative;
}

/* gallery grid end */

.galleryImgStatic
{
	position: relative;
/*	top: 0;
	left: 0;*/
}

.galleryImgStatic:hover 
{
	opacity: 0;
	position: relative;
}

.galleryImgRollover
{
	position: absolute;
/*	top: 0;
	left: 0;*/
}

.galleryImgStatic:hover 
{
	opacity: 0;
}

.galleryTextRow
{

	display: flex;
	flex-direction: row;
  	justify-content: space-between;
  	height: 210px;
}

.galleryText
{
	margin-top: 20px;
	padding-bottom: 40px;
	border-bottom: 3px #1c8ab6 solid;
	text-align: left;
	width: 240px;
}

.galleryNew
{
	font-size: 15px;
	font-weight: bold;
	color: #9c9c9c;
}

.galleryPrice
{
	font-size: 20px;
	font-weight: bold;
	line-height: 40px;
}

/**** Start of Contact Us section ****/

#mainContact{

	width: 960px;
	padding-top: 20px;
	/*padding-left: 20px;
	padding-right: 20px;*/
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-start;
	flex-wrap: wrap;

}

/* Contact Us Titles */

#mainContact h2{
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 60px;
	color: #2073a8;
	padding: 8px 0px 8px 5px;  /* trbl*/
	width: 960px;
	margin-bottom: 40px;
	color: #9b9b9b;
}

/* estbalishing the border in the middle */
#contactArea{

	width: 450px;
	border-left: solid 1px #ccc;
	margin-bottom: 30px;
	padding-left: 60px;
}

#contactText{
	font-weight: bold;
	font-size: 41px;
	margin-bottom: 30px;
	width: 473px;
}

input, textarea{

	display: block;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 300px;
	border: 1px solid #999;
	background-color: #efefef;
}

#comments{

	width: 360px;
	height: 200px;
}


#submit{

	width: 75px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	margin-top: 30px;
	margin-bottom: 5px;
	background-color: #2073a8;
	color: #fff;
	border: solid 1px #003471;
}

#listCat{

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
